.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.chip {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.tsum {
  display: flex;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      width: 80px;
      margin-bottom: -15px;
    }
  }
}
